<%= javascript_include_tag "datePicker.js" %>
<script>

 $(document).ready(function(){
  $( "#data_importante_data" ).datepicker({
               regional: "pt-BR",
               dateFormat: 'dd-MM-yyyy',
        onClose: function ()
      {
          this.focus();
      }
   });
 });
  

</script>
<%= form_for(@data_importante, validate: true) do |f| %>
  <div class="vpadded">
  <div class="input full-width">
    <%= f.label "Módulo" %>
      <%= collection_select(:data_importante, :modulo_id, Modulo.all, :id, :nome) %>
  </div>
    <div class="input full-width">
    <%= f.label "Descrição" %>
    <%= f.text_field :descricao %>
  </div>

  <div class="input full-width">
     <%= f.label :data %>
     <%= f.text_field :data %>
  </div>
  <div class="input full-width">
      <%= f.label :comentario %>
     <%= f.text_area :comentario %>
  </div>
     <%= f.submit "Salvar", :class => "btn light-blue inverse" %>
   </div>
<% end %>

