<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @data_importante.descricao %>
</p>

<p>
  <b>Data:</b>
  <%= @data_importante.data %>
</p>

<p>
  <b>Comentario:</b>
  <%= @data_importante.comentario %>
</p>


<%= link_to 'Edit', edit_data_importante_path(@data_importante) %> |
<%= link_to 'Back', data_importantes_path %>
