<%= stylesheet_link_tag "contatos_importantes.css" %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">


<div class="box bordered">
  <div class="box-header">
    <i class="icon-question-sign"></i> FAQ
  </div>
  <div class="row-fluid">

    <div class="span4 faq-left hpadded20">
      <a href="#" class="btn btn-large btn-block medium-blue">Send us your question</a>
      <a href="#" class="btn btn-large btn-block light-blue inverse">Contact support</a>

      <div class="well faq-well">
        <div class="contato">
          <div class="contato-importante-img">
            <%=image_tag "/assets/users/user3.png" %>
          </div>
          <div class="contato-importante-dados">
            <p>nome: <spam> Jorge Risco </spam> </p>
            <p>email: <spam> jrisco@poli.usp.br </spam> </p>
            <p>telefone: <spam> 3031-5951 </spam> </p>
          </div>
        </div>
                <div class="contato">
          <div class="contato-importante-img">
            <%=image_tag "/assets/users/user3.png" %>
          </div>
          <div class="contato-importante-dados">
            <p>nome: <spam> Jorge Risco </spam> </p>
            <p>email: <spam> jrisco@poli.usp.br </spam> </p>
            <p>telefone: <spam> 3031-5951 </spam> </p>
          </div>
        </div>
                <div class="contato">
          <div class="contato-importante-img">
            <%=image_tag "/assets/users/user3.png" %>
          </div>
          <div class="contato-importante-dados">
            <p>nome: <spam> Jorge Risco </spam> </p>
            <p>email: <spam> jrisco@poli.usp.br </spam> </p>
            <p>telefone: <spam> 3031-5951 </spam> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="span8">
      <div class="padded">
        <ol class="faq-list">
          <% @faqs.each do |faq| %>
          <li>
            <h4 id="faq-question-1"><%= faq.pergunta %></h4>
            <p><%= faq.resposta.gsub(/&nbsp;/, "<br/>").html_safe %><p>
          </li>
          <% end %>
        </ol>
      </div>
    </div>

  </div>
</div>
</div>
</div>
</div>