<%= stylesheet_link_tag "contatos_importantes.css" %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">


<div class="box bordered">
  <div class="box-header">
    <i class="icon-question-sign"></i> FAQ
  </div>
  <div class="row-fluid">

    <div class="span4 faq-left hpadded20">
      <div class="well faq-well">
        <% @coordenador.each do |coord| %>
          <div class="contato"> 
            <div class="contato-importante-img">
              <% if coord.avatar.file? %>
                <%= image_tag coord.avatar.url(:medium), class: "avatar" %>
              <% else %>
                <img class="avatar user_empty" src="../assets/users/user_empty.png">
              <% end %>
            </div>
          <div class="contato-importante-dados">
            <p>nome: <spam> <%= coord.nome  %> </spam> </p>
            <p>email: <spam> <%= coord.email  %> </spam> </p>
            <p>telefone: <spam> <%= coord.telefone %> </spam> </p>
          </div> 
          </div>
        <% end %>
      </div>
    </div>

    <div class="span8">
      <div class="padded">
        <ol class="faq-list">
          <% @faqs.each do |faq| %>
          <li>
            <h4 id="faq-question-1"><%= faq.pergunta %></h4>
            <p><%= faq.resposta.gsub(/&nbsp;/, "<br/>").html_safe %><p>
          </li>
          <% end %>
        </ol>
      </div>
    </div>

  </div>
</div>
</div>
</div>
</div>