<%= form_for(@avaliacao, html: {multipart: true}) do |f| %>
	<% if @avaliacao.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@avaliacao.errors.count, "error") %> prohibited this avaliação from being saved:</h2>

			<ul>
				<% @avaliacao.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.label :aluno_id %>
		<label><%= @avaliacao.aluno.nome %></label>
	</div>
	<br />
	<div class="field">
		<%= f.label :empresa_id %>
		<label><%= @avaliacao.empresa.nome %></label>
	</div>
	<br />
	<div class="field">
		<%= f.label :nota %>
		<% if current_usuario.isCoordenador? %>
			<%= f.text_field :nota, :placeholder => "Nota" %>
		<% else %>
			<label><%= @avaliacao.nota %></label>
		<% end %>
	</div>
	<br />
	<% if @avaliacao.respostas.any? %>
		<label>Perguntas e Respostas</label>
		<% @avaliacao.respostas.each do |r| %>
			<label><%= r.pergunta.descricao %></label>
			<% if current_usuario.isAluno? and @avaliacao.editavel? %>
				<input id="resposta_" name="<%= "resposta[#{r.id}]" %>" value="<%= r.descricao%>" size="100" type="text" />
			<% else %>
				<label><%= r.descricao %></label>
			<% end %>
			<br />
		<% end %>
	<% end %>
	<label><%= link_to "Relatório Aluno", @avaliacao.relatorio_aluno.attachment.url if @avaliacao.relatorio_aluno %></label>
	<% if current_usuario.isAluno? and @avaliacao.editavel? %>
		<div class="field">
			<%= f.label "Relatório Aluno#{"(última versão carregada em #{@avaliacao.relatorio_aluno.attachment_updated_at.to_date.strftime('%d/%m/%Y')})" if @avaliacao.relatorio_aluno }" %>
			<%= f.file_field :relatorio_aluno %>
		</div>
	<% end %>
	<label><%= link_to "Relatório Gestor", @avaliacao.relatorio_gestor.attachment.url if @avaliacao.relatorio_gestor %></label>
	<% if current_usuario.isGestor? and @avaliacao.editavel? %>
		<div class="field">
			<%= f.label "Relatório Gestor#{"(última versão carregada em #{@avaliacao.relatorio_gestor.attachment_updated_at.to_date.strftime('%d/%m/%Y')})" if @avaliacao.relatorio_gestor }" %>
			<%= f.file_field :relatorio_gestor %>
		</div>
	<% end %>
	<% if current_usuario.isCoordenador? or @avaliacao.editavel? %>
		<div class="actions">
			<%= f.submit "Salvar", :class => "btn light-blue inverse" %>
		</div>
	<% end %>
<% end %>
