<nav id="primary" class="main-nav collapsible-nav">
  <!-- Brand -->
  <a id="sidebar-brand" href="../pages/dashboard.html">
     Portal de Estágios do PCS
  </a>
  <button type="button" class="btn btn-navbar btn-inverse" data-toggle="collapse" data-target=".nav-collapse">
    <i class="icon-reorder"></i>
  </button>

  <ul class="nav-collapse collapse">

  <!-- Profile -->
    <li class="profile">
      <a href="#profile-opts" class="accordion-toggle" data-toggle="collapse">
          <% if current_usuario.avatar.file? %>
              <%= image_tag current_usuario.avatar.url(:medium), class: "avatar" %>
          <% else %>
            <img class="avatar user_empty">
          <% end %>
          <span class="text" id="profile-text">
            <%= current_usuario.nome %> <b class="caret"></b>
          </span>
      </a>

      <ul id="profile-opts" class="collapse secondary">
        <li class="<%= nav_active(secondary: "alterarSenha") %>">
          <a href="#">
            Alterar Senha
          </a>
        </li>
        <% if current_usuario.isAdminEmpresa? %>
          <li class="<%= nav_active(secondary: "editarEmpresa") %>">
            <a href="/empresas/<%= current_usuario.empresa.id %>/edit">
              Alterar Empresa
            </a>
          </li>
        <% end %>
        <li class="<%= nav_active(secondary: "meu_perfil") %>">
          <a href="/meu_perfil">
            Meu Perfil
          </a>
        </li>
        <li class="<%= nav_active(secondary: "logout") %>">
          <%= link_to 'Sair', destroy_usuario_session_path, :method=>'delete' %>
        </li>
      </ul>
    </li>


    <% Menu.where(grupo_ids: current_usuario.grupo_id.to_s).asc(:nome).each do |menu|%>


    <!-- Components -->
    <li class="<%= nav_active(primary: menu.primary) %>">
      <a href="<%= menu.url %>" class="accordion-toggle" >
          <span class="icon">
            <i class="<%= menu.icon %>"></i>
          </span>
          <span class="text">
            <%= menu.nome %> 
          </span>
      </a>
    </li>    

<% end %>

</nav>