<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">
        <div class="box-header">
          <%= notice_helper %>
          <i class="icon-th-list"></i> Detalhes do Coordenador 
          <div class="pull-right">
            <div class="btn-group">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog"></i>
              </a>
              <ul class="dropdown-menu dropdown-left">
                <li><a href="/coordenador_estagio/<%= @coordenador_estagio.id %>/edit">Editar</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row-fluid">

          <div class="span6">
            <div class="padded">
              <div class="section-title">
                Dados Básicos
              </div>
          <div class="input full-width">
             <label> Nome : <%= @coordenador_estagio.nome %> </label>
             <label> CPF : <%= @coordenador_estagio.cpf %> </label>
             <label> Cidade : <%= @coordenador_estagio.cidade %> </label>
             <label> Estado : <%= @coordenador_estagio.estado %> </label>
             <label> Pais : <%= @coordenador_estagio.pais %> </label>
          </div>
          <br/>
        </div>
      </div>

      <div class="span6">
        <div class="padded">
            <div class="section-title">
              Contato
              </div>
              <div class="input full-width">
             <label> Telefone : <%= @coordenador_estagio.telefone %> </label>
              <label> Celular : <%= @coordenador_estagio.celular %> </label>
              <label> E-mail : <%= @coordenador_estagio.email %> </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

