<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @modulo.nome %>
</p>

<p>
  <b>Ano:</b>
  <%= @modulo.ano %>
</p>

<p>
  <b>Datainicio:</b>
  <%= @modulo.dataInicio %>
</p>

<p>
  <b>Datafim:</b>
  <%= @modulo.dataFim %>
</p>


<%= link_to 'Edit', edit_modulo_path(@modulo) %> |
<%= link_to 'Back', modulos_path %>
