<table class="table table-striped data-table">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		<% @alunos.each do |aluno| %>
			<tr class="gradeX">
				<td><%=link_to aluno.nome, aluno%></td>
				<td class="td-actions">
					<div class="btn-group">
    					<a class="btn medium-blue" href="#"><i class="icon-leaf"></i> Opções</a>
    					<a class="btn medium-blue dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    					<ul class="dropdown-menu">
      						<li><a href="/alunos/<%= aluno.id %>"><i class="icon-eye-open"></i> Exibir</a></li>
      						<% if isAdmin? %>
	            				<li><a href="/alunos/<%= aluno.id %>/edit"><i class="icon-pencil"></i> Editar</a></li>
	      						<li><a href="/alunos/<%= aluno.id %>" data-confirm="<%= "Deseja remover o Aluno?" %>" data-method="delete" rel="nofollow"><i class="icon-trash"></i> Remover</a></li>
      						<% end %>
    					</ul>
  					</div>

				</td>
			</tr>
		<% end %>
	</tbody>
</table>
