<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @coordenador_estagio.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @coordenador_estagio.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @coordenador_estagio.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%= @coordenador_estagio.celular %>
</p>

<p>
  <b>Cpf:</b>
  <%= @coordenador_estagio.cpf %>
</p>

<p>
  <b>Cidade:</b>
  <%= @coordenador_estagio.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @coordenador_estagio.estado %>
</p>

<p>
  <b>Pais:</b>
  <%= @coordenador_estagio.pais %>
</p>

<p>
  <b>Cep:</b>
  <%= @coordenador_estagio.cep %>
</p>


<%= link_to 'Edit', edit_coordenador_estagio_path(@coordenador_estagio) %> |
<%#= link_to 'Back', coordenador_estagios_index_path %>
