<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Número de Estagiários Ativos</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @gestor.each do |gestor| %>
            <tr class="gradeX">
                <td><%=link_to gestor.nome, gestor%></td>
                <td><%= gestor.email %></td>
                <td><%= gestor.id %></td>
                <td class="td-actions">
                    <div class="btn-group">
                        <a class="btn medium-blue" href="#"><i class="icon-leaf"></i> Opções</a>
                        <a class="btn medium-blue dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/gestor/<%= gestor.id %>"><i class="icon-eye-open"></i> Exibir</a></li>
                            <li><a href="/gestor/<%= gestor.id %>/edit"><i class="icon-pencil"></i> Editar</a></li>
                            <li><a href="/gestor/<%= gestor.id %>" data-confirm="<%= "Deseja remover o Gestor?" %>" data-method="delete" rel="nofollow"><i class="icon-trash"></i> Remover</a></li>
                        </ul>
                    </div>

                </td> 
             </tr>
        <% end %>
    </tbody>
</table>