<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">
        <div class="box-header">
          <i class="icon-th-list"></i> Form elements
          <div class="pull-right">
            <div class="btn-group">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog"></i>
              </a>
              <ul class="dropdown-menu dropdown-left">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row-fluid">

          <div class="span6">
            <div class="padded">
              <div class="section-title">
                Inputs
              </div>
              <%= render "/partials/components/forms/inputs" %>

              <div class="section-title">
                Validations
              </div>
              <%= render "/partials/components/forms/validations" %>
            </div>
          </div>

          <div class="span6">
            <div class="padded">
              <div class="section-title">
                File uploaders
              </div>
              <%= render "/partials/components/forms/uploader" %>

              <div class="section-title">
                Selects
              </div>
              <%= render "/partials/components/forms/selects" %>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <div class="padded">
              <div class="section-title">
                Search inputs
              </div>
              <%= render "/partials/components/forms/search_inputs" %>
            </div>
          </div>
          <div class="span6">
            <div class="padded">
              <div class="section-title">
                Appended and prepended inputs
              </div>
              <%= render "/partials/components/forms/appended_prepended" %>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <div class="padded">
              <div class="section-title">
                Checkboxes
              </div>
              <%= render "/partials/components/forms/checkboxes" %>
            </div>
          </div>

          <div class="span6">
            <div class="padded">
              <div class="section-title">
                Radios
              </div>
              <%= render "/partials/components/forms/radios" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
