<div class="login-container center">
  <%= notice_helper %>
  <div class="title text-transparent">Entrar</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => {:class => "login-form"})  do |f| %>
    <ul class="fields-list">
      <li>
        <i class="icon-user" style="float: left;"></i>
        <%= f.email_field :email, :autofocus => true, placeholder: "E-Mail" %>
      </li>
      <li>
        <i class="icon-key"></i>
        <%= f.password_field :password, autocomplete:"off", id:"password", placeholder: "Senha" %>
      </li>
    </ul>
    <div class="actions">
       <%= f.submit "Entrar", :class => "btn btn-large medium-blue login-btn" %>
    </div>
   
<% end %>
</div>

<div style="text-align:center">
  <%= render "devise/shared/links" %>
</div>