<%= form_for(@empresa) do |f| %>
  <div class="vpadded">
   <div class="input full-width">
        <%= f.label :nome %>
         <%= f.text_field :nome, :placeholder => "Nome" %>
    </div>
   <div class="input full-width">
        <%= f.label :cnpj %>
         <%= f.text_field :cnpj, :placeholder => "CNPJ" %>
    </div>
   <div class="input full-width">
        <%= f.label :endereco %>
         <%= f.text_field :endereco, :placeholder => "Endereço" %>
    </div>
   <div class="input full-width">
        <%= f.label :cidade %>
         <%= f.text_field :cidade, :placeholder => "Cidade" %>
    </div>
   <div class="input full-width">
        <%= f.label :estado %>
         <%= f.text_field :estado, :placeholder => "Estado" %>
    </div>
   <div class="input full-width">
        <%= f.label :pais %>
         <%= f.text_field :pais, :placeholder => "País" %>
    </div>
   <div class="input full-width">
        <%= f.label :cep %>
         <%= f.text_field :cep, :placeholder => "CEP" %>
    </div>
   <div class="input full-width">
        <%= f.label :telefone %>
         <%= f.text_field :telefone, :placeholder => "Telefone" %>
    </div>

   <div class="input full-width">
        <%= f.label :email %>
         <%= f.text_field :email, :placeholder => "E-mail" %>
    </div>
   <div class="input full-width">
        <%= f.label :site %>
         <%= f.text_field :site, :placeholder => "Site" %>
    </div>
   <div class="input full-width">
        <%= f.label :descricao %>
         <%= f.text_area :descricao, :placeholder => "Descriçao das atividades da empresa" %>
    </div>
   <%= f.submit "Salvar", :class => "btn light-blue inverse" %>
 </div>
  <% end %>   


