<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">
        <div class="box-header">
          <i class="icon-th-list"></i> Detalhes da Empresa <%= @empresa.nome.capitalize %>
          <div class="pull-right">
            <div class="btn-group">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog"></i>
              </a>
              <% if current_usuario.isAdmin? or current_usuario.isAdminEmpresa? %>
                <ul class="dropdown-menu dropdown-left">
                  <li><a href="/empresas/<%= @empresa.id %>/edit">Editar</a></li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row-fluid">

          <div class="span6">
            <div class="padded">
              <div class="section-title">
                Dados Básicos
              </div>
          <div class="input full-width">
             <label> Nome : <%= @empresa.nome %> </label>
             <label> Site : <%= @empresa.site %> </label>
             <label> E-mail : <%= @empresa.email %> </label>
             <label> Telefone : <%= @empresa.telefone %> </label>
          </div>
          <br/>
              <div class="section-title">
                Vagas em Aberto
              </div>
                <table class="table table-striped data-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Área</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @vagas.each do |vaga| %>
                            <tr class="gradeX" >
                                <td><%=link_to vaga.nome, vaga%></td>
                                <td><%= vaga.area %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
          </div>

          <div class="span6">
            <div class="padded">
              <% if @empresa.logo.file? %>
                  <%= image_tag @empresa.logo.url(:medium) %>
                <% end %>
              <div class="section-title">
                Atividades
              </div>
          <div class="input full-width">
             <label>  <%= @empresa.descricao %> </label>
          </div>


              <div class="section-title">
                Localização
              </div>
             <div class="input full-width">
                <label> Endereço : <%= @empresa.endereco %> </label>
                <label> Cidade : <%= @empresa.cidade %> </label>
                <label> Estado : <%= @empresa.estado %> </label>
                <label> Pais : <%= @empresa.pais %> </label>
                <label> CEP : <%= @empresa.cep %> </label>
                  <%=image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=0%2C0", :alt => "Mapa" %>

            </div>
              </div>

            </div>
          </div>
        </div>
    </div>
  </div>
</div>

