<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @empresa.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @empresa.endereco %>
</p>

<p>
  <b>Cidade:</b>
  <%= @empresa.cidade %>
</p>

<p>
  <b>Cep:</b>
  <%= @empresa.cep %>
</p>

<p>
  <b>Telefone:</b>
  <%= @empresa.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @empresa.email %>
</p>

<p>
  <b>Cidade:</b>
  <%= @empresa.cidade %>
</p>

<p>
  <b>Pais:</b>
  <%= @empresa.pais %>
</p>

<p>
  <b>Estado:</b>
  <%= @empresa.estado %>
</p>

<p>
  <b>Descricao:</b>
  <%= @empresa.descricao %>
</p>

<p>
  <b>Site:</b>
  <%= @empresa.site %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
