<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">
        <div class="box-header">
          <%= notice_helper %>
          <i class="icon-th-list"></i> Detalhes do Administrador de <%= @admin_empresa.empresa.nome %> 
          <div class="pull-right">
            <div class="btn-group">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cog"></i>
              </a>
              <% if current_usuario.isAdmin? %>
                <ul class="dropdown-menu dropdown-left">
                  <li><a href="/admin_empresa/<%= @admin_empresa.id %>/edit">Editar</a></li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row-fluid">

          <div class="span6">
            <div class="padded">
              <div class="section-title">
                Dados Básicos
              </div>
          <div class="input full-width">
             <label> Nome : <%= @admin_empresa.nome %> </label>
             <label> CPF : <%= @admin_empresa.cpf %> </label>
             <label> Cidade : <%= @admin_empresa.cidade %> </label>
             <label> Estado : <%= @admin_empresa.estado %> </label>
             <label> Pais : <%= @admin_empresa.pais %> </label>
          </div>
          <br/>
        </div>
      </div>

      <div class="span6">
        <div class="padded">
            <div class="section-title">
              Contato
              </div>
              <div class="input full-width">
             <label> Telefone : <%= @admin_empresa.telefone %> </label>
              <label> Celular : <%= @admin_empresa.celular %> </label>
              <label> E-mail : <%= @admin_empresa.email %> </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

