<div class="row-fluid">
	<div class="span6">
        <div class="padded">
        	<div class="section-title">
        		Dados Básicos
        	</div>
        	<div class="input full-width">
				<label> Nome : <%= usuario.nome %> </label>
				<label> CPF : <%= usuario.cpf %> </label>
				<label> Cidade : <%= usuario.cidade %> </label>
				<label> Estado : <%= usuario.estado %> </label>
				<label> Pais : <%= usuario.pais %> </label>
				<label> Telefone : <%= usuario.telefone %> </label>
				<label> Celular : <%= usuario.celular %> </label>
				<label> E-mail : <%= usuario.email %> </label>
      		</div>
      		<br/>
      	</div>
	</div>
</div>